<p>
  <b>Title:</b>
  <%=h @log_book_entry.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @log_book_entry.description %>
</p>

<p>
  <b>Solution:</b>
  <%=h @log_book_entry.solution %>
</p>

<p>
  <b>User:</b>
  <%=h @log_book_entry.user.name %>
</p>

<p>
  <b>SHA of problem:</b>
  <%= link_to @log_book_entry.sha_of_problem, print_github_commit_link(@log_book_entry.github_project.title, @log_book_entry.sha_of_problem) %>
</p>

<p>
  <b>SHA of solution:</b>
  <%= link_to @log_book_entry.sha_of_solution, print_github_commit_link(@log_book_entry.github_project.title, @log_book_entry.sha_of_solution) %>
</p>

<p>
  <b>Github project:</b>
  <%= link_to @log_book_entry.github_project.title, print_github_project_link(@log_book_entry.github_project.title) %>
</p>

<p>
  <b>Tags</b>
  <% @log_book_entry.tag_list.sort!.each do |token| %>
  <%= link_to token, :action => "label", :controller => "search", :token=>token%>
  <% end %>
</p>

<p>
  <b>Created at:</b>
  <%= smart_date_printer @log_book_entry.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= smart_date_printer @log_book_entry.updated_at %>
</p>


<%= link_to 'Edit', edit_log_book_entry_path(@log_book_entry) %> |
<%= link_to 'Back', log_book_entries_path %>


