<table>
  
  <tr>
    <th><%= link_to 'Title', :action => action, :token => @token, :order => 'log_book_entries.title', :direction => get_direction('log_book_entries.title', prev_order, direction)  %> </th>
    <th><%= link_to 'Description', :action => action, :token => @token, :order => 'description', :direction => get_direction('description', prev_order, direction)  %> </th>
    <th><%= link_to 'Solution', :action => action,  :token => @token, :order => 'solution', :direction => get_direction('solution', prev_order, direction) %> </th>
    <th><%= link_to 'User name', :action => action, :token => @token, :order => 'users.name', :direction => get_direction('users.name', prev_order, direction) %> </th>
    <th> SHA of Problem </th>
    <th> SHA of Solution </th>
    <th><%= link_to 'Github Project', :action => action, :token => @token, :order => 'github_projects.title', :direction => get_direction('github_projects.title', prev_order, direction) %> </th>
    <th> Tags </th>
    <th><%= link_to 'Created At', :action => action, :token => @token, :order => 'log_book_entries.updated_at', :direction => get_direction('log_book_entries.updated_at', prev_order, direction) %> </th>
    <th><%= link_to 'Updated At', :action => action, :token => @token, :order => 'log_book_entries.created_at', :direction => get_direction('log_book_entries.created_at', prev_order, direction) %> </th>
    <th> Operations </th>
  </tr>

<%= render :partial => "search/table_entry", :collection => table_entries %> 
</table>
