<% if @token %>
  <h1>Entries Tagged <%= @token %></h1>
<% end %>


<%= link_to 'All Entries', log_book_entries_path %>
<%= will_paginate @matched_entries %>

<%= render :partial => "table", :locals => {:action => 'label', :token => @token, :table_entries => @matched_entries, :prev_order => @prev_order, :direction => @direction } %>

<%= will_paginate @matched_entries %>
<%= link_to 'All Entries', log_book_entries_path %>
<br /> 
