<h1> Search Results 
<% if @token %> 
   for  '<%= @token  %>' </h1>
<% else %>
  </h1>
  <br />
  No string entered
<% end %>

<%= link_to 'All Entries', log_book_entries_path %>
<%= will_paginate @matched_entries %>

<%= render :partial => "table", :locals => {:action => 'query', :token => @token, :table_entries => @matched_entries, :prev_order => @prev_order, :direction => @direction } %>

<%= will_paginate @matched_entries %>
<%= link_to 'All Entries', log_book_entries_path %>

<br />
