<h1> Search Results for  '<%= @token  %>' </h1>

<%="Found #{@size} entries" %>
<br /> 
<br /> 

<%= link_to 'All Entries', log_book_entries_path %>
<%= will_paginate @matched_entries %>

<%= render :partial => "table", :locals => {:action => 'query', :token => @token, :table_entries => @matched_entries, :prev_order => @prev_order, :direction => @direction } %>

<%= will_paginate @matched_entries %>
<%= link_to 'All Entries', log_book_entries_path %>

<br />
